@charset "utf-8";
/* CSS Document */

#header {
	height: 196px;
	width: 1262px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(images/logo%20daihatsu.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
}
#logo {
	background-image: url(images/header.jpg);
	margin-right: auto;
	margin-left: auto;
}
body{background: #ededed;margin:0;padding:0;}#menu_wrap{position:relative;margin-top:20px;margin-left:auto;margin-right:auto;padding:0; padding-right:0px;width:800px;height:40px;list-style-type:none;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.2);-moz-box-shadow:0 1px 3px rgba(0,0,0,.2);box-shadow:0 1px 3px rgba(0,0,0,.2)}.button a{cursor:pointer;text-align:center;font:16px/100% "Palatino Linotype", "Book Antiqua", Palatino, serif;font-weight:bold;position:relative;min-width:50px;height:20px;float:left;padding:10px;padding-top:10px;padding-bottom:10px;text-decoration:none;text-shadow:0 1px 1px rgba(0,0,0,.3)}.button:first-child a{-webkit-border-top-left-radius:7px;-webkit-border-bottom-left-radius:7px;-moz-border-topleft-radius:7px;-moz-border-bottomleft-radius:7px;border-top-left-radius:7;border-bottom-left-radius:7px}.Red,.Red .button a{color:#faddde;background: #ed1c24;border-right:solid 1px #aa1317;background: -moz-linear-gradient(top, #ed1c24 0%, #aa1317 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed1c24), color-stop(100%,#aa1317));background: -webkit-linear-gradient(top, #ed1c24 0%,#aa1317 100%);background: -o-linear-gradient(top, #ed1c24 0%,#aa1317 100%);background: -ms-linear-gradient(top, #ed1c24 0%,#aa1317 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#aa1317',GradientType=0 );background: linear-gradient(top, #ed1c24 0%,#aa1317 100%);}.Red .button a:hover,.Red .button a:focus{background: #c9151b;background: -moz-linear-gradient(top, #c9151b 0%, #a11115 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9151b), color-stop(100%,#a11115));background: -webkit-linear-gradient(top, #c9151b 0%,#a11115 100%);background: -o-linear-gradient(top, #c9151b 0%,#a11115 100%);background: -ms-linear-gradient(top, #c9151b 0%,#a11115 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9151b', endColorstr='#a11115',GradientType=0 );background: linear-gradient(top, #c9151b 0%,#a11115 100%);}.Red .button a:active{color:#de898c;background: #aa1317;background: -moz-linear-gradient(top, #aa1317 0%, #ed1c24 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa1317), color-stop(100%,#ed1c24));background: -webkit-linear-gradient(top, #aa1317 0%,#ed1c24 100%);background: -o-linear-gradient(top, #aa1317 0%,#ed1c24 100%);background: -ms-linear-gradient(top, #aa1317 0%,#ed1c24 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa1317', endColorstr='#ed1c24',GradientType=0 );background: linear-gradient(top, #aa1317 0%,#ed1c24 100%);}.button:last-child a{float:left;border:none; -webkit-border-top-right-radius:7px;-webkit-border-bottom-right-radius:7px;-moz-border-radius:7px;border-top-right-radius:7px;border-bottom-right-radius:7px}
#navbar{
	height:50px;
	width:966px;
	margin-right:auto;
	margin-left:auto;
}
#home {
	height: 1000px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
#pilihan {
	height: 300px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	
}
#login {
	height: 50px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
}
#section {
	height: 1000px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}